@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

input {
    outline: none;
}

input:focus{
    outline: none;
}

:root {
    /* width */
    --w-main-menu: 60px;
    --w-sub-menu: 300px;
}